<?xml version="1.0" encoding="UTF-8"?>
<!-- http://java.ihoney.pe.kr/397 -->
<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger[%method:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>target/tomcat/logs/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 파일이 하루에 한개씩 생성된다 -->
			<fileNamePattern>app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 위 부분에 롤링 정책에 따라 적용되 된다고 보면된다. 위 설정데로 라면 30일이 지난 파일은 삭제가 된다. -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger[%method:%line] - %msg%n</pattern>
		</encoder>
	</appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
	<!-- <logger name="org.springframework.jdbc" level="info" />
    <logger name="org.springframework.batch" level="info" /> -->
</configuration>